<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - ICMPC_Test</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100" style="overflow: hidden;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <h2 class="navbar-brand">ICMPC_Test</h2>
                @if (Context.Request.Path.StartsWithSegments("/Admin"))
                {
                    <a class="btn btn-danger ms-auto" asp-controller="Account" asp-action="Logout">Logout</a>
                }
            </div>
        </nav>
    </header>

    <div class="container flex-grow-1">
        <main role="main" class="d-flex justify-content-center align-items-center">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center py-3 mt-auto">
        <div class="container">
            &copy; 2025 - Muhammad Haziq Iskandar Hanizal
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>