@{
	ViewData["Title"] = "Register";
}
<h2>Register</h2>

<form method="post">
	<div>
		<label>Username</label>
		<input type="text" name="UserName" required/>
	</div>
	<div>
		<label>Email</label>
		<input type="email" name="Email" required/>
	</div>
	<div>
		<label>Password</label>
		<input type="password" name="password" required/>
	</div>
	<button type="submit">Register</button>
</form>

<p>@ViewBag.Error</p>
<a href="/Account/Login">Already have an account? Login here</a>